/*About*/

.about__box{
    margin: 50px auto 80px;
    max-width: 1150px;
    background: #fff;
    padding: 50px 40px;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
}

//Shadow
.about__box:before,
.about__box:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
}

.about__box:after {
    right: 10px;
    left: auto;
    transform: rotate(3deg);
}


.about__title{
   color: #000;
   text-transform: uppercase;
}
.about__box-me{
    width: 85%;
    // margin-left: 20px;
    margin: 0 auto;
    margin-top: 50px;
}
.about__tech{
    width: 85%;
    // margin-top: 60px;
    margin: 0 auto;
}
.about__box-text{
    font-size: 20px;
}
.about__bars{
    display: block;
    height: 4px;
    width: 100%;
    background: #929295;
    border-radius: 10px;
    // position: relative;
    // overflow: hidden;
}
.wrapp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__bar{
    // overflow: hidden;
    // position: absolute;
    // z-index: 999;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
}
.about__tech-name{
    position: relative;
}
.about__tech-count{
    // position: relative;
    left: 30%;
}
.html{
    width: 80%;
    background-image: linear-gradient(to right, #ff43cb, #ff56a1, #ff7882, #ff9a74, #feb779);
}
.css{
    width: 75%;
    background-image:linear-gradient(to right, #3e3386, #025d96, #018ab8, #00b9d1, #6ef2e1)
}
.js{
    width: 65%;
    background-image: linear-gradient(to right, #A99B36, #BFB33E, #DAF14C, #E0F73A, #E0FF00);
}
.react{
    width: 60%;
    background-image: linear-gradient(to right, #006400, #228B22, #4CBB17, #32CD32, #7CFC00);
}

.color-box{
    border: 1px solid rgba(0, 0, 0, .125);
}
.about__box-text{
    border-top: 1px solid rgba(0, 0, 0, .125);
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    padding: 20px 25px;
}
.color-dots{
    display: flex;
    padding: 7px 12px;
    background-color: rgba(0, 0, 0, .03);
}
.red{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-right: 7px;
}
.yellow {
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    margin-right: 7px;
}
.green {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}



.about__like{
    width: 85%;
    margin: 0 auto;
}

.about__language{
    width: 85%;
    margin: 0 auto;
}
.about__wrap-like{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.about__like-text{
    margin-left: 20px;
}
.wrap-svg{
    background-color: #061733;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__language-title{
    text-transform: uppercase;
}
.about__language-bars {
    display: block;
    height: 4px;
    width: 100%;
    background: #929295;
    border-radius: 10px;
}

.wrapp-language {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__language-bar {
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
}

.about__language-name {
    position: relative;
    width: 150px;
}

.about__language-count {
    left: 30%;
    width: 150px;
    text-align: right;
}

.ru {
    width: 100%;
    background-image: linear-gradient(to right, #006400, #228B22, #4CBB17, #32CD32, #7CFC00);
}

.uk {
    width: 55%;
    background-image: linear-gradient(to right, #3e3386, #47abe8, #fea2a2, #fc3232, #ff0000)
}

.ua {
    width: 100%;
    background-image: linear-gradient(to right, #168ff2, #4dcaf7, #f9f09c, #eafc62, #E0FF00);
}
.colom{
    display: flex;
}
.colom-second{
    margin-left: 50px;
}

.about__like-title{
    text-transform: uppercase;
}

@media (min-width: 960px){
    .about__row {
        display: flex;
        justify-content: space-evenly;
    }
    .about__row-me {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    .about__tech {
        width: 35%;
        margin-top: 60px;
    }
    .about__box-me {
        width: 50%;
        margin-left: 20px;
    }
    .about__like {
        width: 40%;
    }
    .about__language {
        width: 50%;
    }
}