/*Header*/

#hea{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    background: transparent;
    padding: 20px 40px 20px 0px;
}
.header#hea{
    background-color: #000520;
    opacity: 0.8;
    padding-top: 9px;
    padding-bottom: 9px;
}
.nav__list{
    display: flex;
    justify-content: flex-end;
}
.nav__item{
    padding-left: 20px;
    padding-right: 20px;
}
.nav__link{
    color: #8ca7ce;
    text-transform: uppercase;
    font-weight: 700;
}
.nav__link:hover,
.nav__link:focus{
    color:#f2a278;
}

