.contacts__title{
 text-transform: uppercase;
 text-align: center;
}
.contact__block{
    display: flex;
    justify-content: space-around;
}
.contact__link{
    display: flex;
    align-items: center;
}
.contact__item-icon-wrapper{
    margin-right: 20px;
}